*.beam
*.deb
.combo_dialyzer_plt
.DS_Store
.eqc-info
.eunit
.qc/
.rebar/
.rebar3/
.tool-versions
.vagrant
/.vscode
/_notes
/config/_ssl
/doc
/erlang_ls.config
/rebar3.crashdump
_build/
_checkouts.old/
_checkouts/
build
current_counterexample.eqc
data-root*/
data/
deps.test/
deps/*
dev
dialyzer_warnings
distdir
ebin/*
erl_crash.dump
fprof.trace
log/
Mnesia*
node*/
package
priv/logs/*.csv
priv/plots/*.pdf
results.csv
riak_test/ebin/*.beam
rt/
src/*.swp
tags
TEST-*
test/*/RAND