*.beam
.eunit
deps/*
ebin/*
dev
src/*.swp
tags
.qc/
riak_test/ebin/*.beam
.eqc-info
current_counterexample.eqc
dialyzer_warnings
.rebar/
distdir
package
deps.test/
rt/
.combo_dialyzer_plt
build
.vagrant
_build/
TEST-*
data/
*.deb
log/
_checkouts/
priv/logs/*.csv
priv/plots/*.pdf
fprof.trace
.rebar3/
test/*/RAND
.DS_Store
results.csv
