[
    {partisan, [
        {tls, true},
        {tls_server_options, [
            {certfile, "config/_ssl/server/keycert.pem"},
            {cacertfile, "config/_ssl/server/cacerts.pem"},
            {keyfile, "config/_ssl/server/key.pem"},
            {verify, verify_none}
        ]},
        {tls_client_options, [
            {certfile, "config/_ssl/client/keycert.pem"},
            {cacertfile, "config/_ssl/client/cacerts.pem"},
            {keyfile, "config/_ssl/client/key.pem"},
            {verify, verify_none}
        ]}
    ]}
].