[
    {partisan, [
        %% {name, 'foo@127.0.0.1'},
        %% {name, 'ale@ale-macbook.local'},
        {peer_ip, {127,0,0,1}},
        %% {peer_port, 12345},
        %% {listen_addrs, [
        %%     "127.0.0.1:12345",
        %%     <<"127.0.0.1:12345">>,
        %%     {"127.0.0.1", "12345"},
        %%     {{127, 0, 0, 1}, 12345},
        %%     #{ip => "127.0.0.1", port => "12345"},
        %%     #{ip => <<"127.0.0.1">>, port => <<"12345">>},
        %%     #{ip => {127, 0, 0, 1}, port => 12345}
        %% ]},
        {remote_ref_format, improper_list},
        {tls, true},
        {tls_server_options, [
            {certfile, "config/_ssl/server/keycert.pem"},
            {cacertfile, "config/_ssl/server/cacerts.pem"},
            {keyfile, "config/_ssl/server/key.pem"},
            {verify, verify_none}
        ]},
        {tls_client_options, [
            {certfile, "config/_ssl/client/keycert.pem"},
            {cacertfile, "config/_ssl/client/cacerts.pem"},
            {keyfile, "config/_ssl/client/key.pem"},
            {verify, verify_none}
        ]}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true,
                    %% term_depth => 50,
                    %% time_designator => "T",
                    %% time_offset => 0,
                    template => [
                        "=== when=", time,
                        " level=", level,
                        {pid,[" pid=",pid],[]},
                        " at=", mfa, ":", line, " ",
                        {otel_trace_id, ["trace_id=", otel_trace_id, " "], []},
                        {otel_span_id, ["span_id=", otel_span_id, " "], []},
                        msg,
                        "\n"
                    ]
                }},
                filter_default => stop,
                filters => [
                    {remote_gl,
                        {fun logger_filters:remote_gl/2, stop}
                    },
                    {no_domain,
                        {fun logger_filters:domain/2,{log,undefined,[]}}
                    },
                    {domain,
                        {fun logger_filters:domain/2, {stop, equal, [sasl]}}
                    },
                    {domain,
                        {fun logger_filters:domain/2, {log, super, [otp]}}
                    }
                ]
            }}
        ]}
    ]}
].